.last{

}

body{
    background-image: url("https://vuzopedia.ru/storage/app/uploads/public/59d/cdc/389/59dcdc3892eb9776480407.jpg");
}

table{
    border: 1px solid gray;
}

.header{
    background-color: grey;
}

.content{

}

ul.menu{
    list-style: none;
}

ul.menu li{
    float: left;
}

tr{

}

th{
    border: 1px solid grey;
}

td{

}

.timetable{

}

.week_title{

}

.pair_number{

}

.pair_time{
    display: inline
}

.pair_type{
    display: inline
}

.course_name{

}

.info{

}

.error{

}