{% extends 'main/base.html' %}

{% block content %}
<h1 style="text-align: center;"> {{title}} </h1>

<form style="text-align: center;"  method="post"    >
    {% csrf_token %}


    <div style="text-align: center;", class="form-error">{{ f.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Войти</button>
</form>

{% endblock %}

