{% extends 'main/base.html' %}

{% block title %}
Расписание
{% endblock %}

{% block content %}
<div class="timetable" style="vertical-align:top;">
        {% for week in table %}
        <table style="display:inline-table;">
            <tr>
                <th class='week_title' colspan="2">Неделя {{ week.number }}</th>
            </tr>
        {% for day in week.table %}
            <tr>
                <th colspan="2">{{ day.day }}</th>
            </tr>
        {% for lesson in day.table %}
            <tr>
                <td rowspan="2">
                    <div class="pair_number">{{ lesson.pair.number }}</div>
                    <div class="pair_time">{{ lesson.pair.time }}</div>
                </td>
                <td>
                    <div class="pair_type" style="display: inline">{{ lesson.course.type }}</div>
                    <div class="course_name" style="display: inline">{{ lesson.course.name }}</div>
                </td>
            </tr>
            <tr>
                <td>
                {% for info in lesson.course.other_info %}
                <div class="info">{{info}}</div>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}

        {% endfor %}
        </table>
        {% endfor %}
    </div>
{% endblock %}